/* .project-1 {
  width: 100%;
}
.slider-container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height:210px;
  padding-bottom: 40%;
  border: solid 2px grey;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-img img {
  height: 210px;
  width: auto;
}

#i1,
#i2,
#i3 {
  display: none;
}
.pre, .nxt {
  width: 12%;
  height:100%;
  position: absolute;
  top:0;
  background-color: rgb(24, 24, 24, .4);
  z-index: 99;
  cursor: pointer;
}

.pre{
  left:0;
}
.nxt{
  right:0
}

.nav{
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;

}

.dots{
  top:-5%;
  width: 10px;
  height:10px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.623);
} */

.slider-container {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 0 5px;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.mobilescreenshot {
  height: 300px;
  width: auto;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  /* height: 300px; */
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  padding-top: 50px; /* //need because a href moves to top of div */
}

.slider-container a {
  display: inline-flex;
  width: 12px;
  height: 12px;
  background: white;
  text-decoration: none;
  border-radius: 50%;
  margin: 15px 5px;
  position: relative;
}

/* .slider-container a:active {
  top: 1px;
}
.slider-container a:focus {
  background: #000;
} */

.card {
  width: 300px;
  height: 300px;
  border: white solid 1px;
  border-radius: 10px;
  overflow: hidden;
}
.card-img {
  /* background: grey; */
  height: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.card-img img {
  height: 100%;
  width: auto;
}

.card-text {
  height: 30%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-text > h4 {
  color: white;
  font-size: 20px;
  font-family: "Share Tech", sans-serif;
  padding-left: 10px;

}

.card-text p {
  font-family: "Didact Gothic", sans-serif;
  line-height: 1.2;
  width: 100%;
  font-size: 13px;
  padding: 0 5px 5px 10px;
}

.card-icon {
  float: right;
  margin-right: 10px;
}
